@import url("http://fonts.cdnfonts.com/css/cocogoose");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,300&family=Poppins:wght@200;300;400;500;600;700&display=swap");

:root {
  --dark: #272a31;
  --orange: #ec5242;
  --gray: #d3d3d3;
  --font-coco: "COCOGOOSE", sans-serif;
  --font-lato: "Lato", sans-serif;
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  max-width: 100vw;
}

nav {
  display: none;
}

header {
  display: none;
}

.gradient {
  display: none;
}

li {
  list-style: none;
}

.pageOne {
  height: 100vh;
}

#hamburger {
  margin: 1rem;
  font-size: 1.5rem;
}

.title {
  background-image: url(images/africa.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

.title-container {
  padding-bottom: 54px;
  background-color: rgba(255, 255, 255, 0.9);
  height: 100%;
  margin: auto;
}

.title-details {
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo-head h4 {
  text-align: center;
  font-family: var(--font-lato);
  color: var(--dark);
  font-size: 18px;
  margin: 1rem;
}

.past-videos h4 {
  text-align: center;
  font-family: var(--font-lato);
  color: white;
  font-size: 25px;
  margin-top: 30%;
}

.title .title-details h4 {
  color: var(--orange);
  font-family: var(--font-lato);
  display: none;
}

.title .title-details h1 {
  color: var(--orange);
  text-transform: uppercase;
  max-width: 80%;
  margin-top: 20px;
  font-family: var(--font-coco);
  font-size: 30px;
  line-height: 35px;
}

.title .event-description {
  border: solid var(--dark) 0.1px;
  background-color: white;
  padding: 4px;
  margin-top: 2rem;
  width: 100%;
}

.past-events p {
  font-family: var(--font-lato);
  font-size: 14px;
  text-align: center;
  margin: 1rem;
}

.footer-header p {
  font-family: var(--font-lato);
  color: #fff;
  font-size: 18px;
  align-items: center;
  margin-bottom: 0.5rem;
}

.logo-head p {
  font-family: var(--font-lato);
  font-size: 14px;
  text-align: center;
  margin: 1rem;
}

.past-videos p {
  font-family: var(--font-lato);
  font-size: 20px;
  color: white;
  text-align: center;
  margin: 1rem;
}

.title .event-description p {
  color: var(--dark);
  font-family: var(--font-lato);
}

.title .event-time {
  margin-top: 2rem;
}

.title .event-time h6 {
  color: var(--dark);
  margin-top: 10px;
  font-family: var(--font-coco);
  font-size: 12px;
}

.title .event-time p {
  color: var(--dark);
  font-family: var(--font-lato);
  font-size: 16px;
}

.logo-info {
  background-color: white;
  border: solid var(--dark) 0.1px;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  height: 50%;
  padding-bottom: 1rem;
}

.logo-info hr {
  border: solid var(--orange) 1px;
  align-items: center;
  width: 9%;
  margin: auto;
}

.logo-img {
  text-align: center;
  background-color: white;
  border: solid var(--dark) 0.2px;
  width: 80%;
  margin: auto;
}

.past-title h5 {
  text-align: center;
  font-family: var(--font-lato);
  color: var(--dark);
  font-size: 18px;
  margin: 1rem;
}

.past-title hr {
  border: solid var(--orange) 1px;
  align-items: center;
  width: 3%;
  margin: auto;
}

.past-videos {
  text-align: center;
}

.overlay {
  background-color: rgba(255, 104, 87, 0.6);
  position: absolute;
  width: 100%;
  height: 315px;
}

.overlay:hover {
  display: none;
  cursor: pointer;
}

.footer .footer1 {
  background-color: #3d3d3d;
  align-items: center;
  height: auto;
  text-align: center;
  width: 100%;
  padding: 1rem;
  overflow-x: hidden;
}

.footer hr {
  border: solid var(--orange) 1px;
  background: #ccc;
  width: 9%;
  margin: auto;
}

.footer .footer1 ul img {
  width: 120px;
  height: 30px;
  margin: 1rem;
}

.footer .footer1 ul {
  margin-top: 1rem;
}

.footer-header hr {
  color: var(--orange);
}

.footer2 {
  padding: 5px;
  font-family: var(--font-lato);
  color: var(--dark);
  display: flex;
}

.footer2 .footer-logo {
  margin: auto;
}

.footer-details {
  padding: 10px;
}

.footer-description {
  margin: 1rem 0;
  font-size: 12px;
}

#show-menu {
  position: fixed;
  left: 0%;
  top: 0%;
  bottom: 0;
  right: 0;
  z-index: 1;
  font-size: 32px;
  line-height: 44px;
  font-weight: 600;
  flex-direction: column;
  opacity: 0.9;
  padding: 0;
  margin: 0;
  background-color: rgb(204, 204, 204, 0.9);
  list-style-type: none;
  backdrop-filter: blur(5px);
  height: 100vh;
  display: none;
}

#show-menu #close-icon {
  color: var(--dark);
  margin: 2rem;
  font-size: 3rem;
}

#show-menu .toggle-menu {
  color: var(--dark);
  margin: 4rem;
  align-items: center;
  font-style: var(--font-coco);
}

iframe {
  width: 100%;
  height: 315px;
}

@media only screen and (min-width: 768px) {
  a {
    text-decoration: none;
  }

  #hamburger {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  .footer1 {
    display: none;
  }

  nav {
    background-color: var(--dark);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-family: var(--font-lato);
    color: #fff;
    height: 30px;
    z-index: 2;
    position: absolute;
  }

  .mobiletitle {
    display: none;
  }

  nav li {
    color: #fff;
    margin-left: 2rem;
  }

  nav ul {
    margin-right: 15rem;
    display: flex;
    justify-content: flex-end;
    float: right;
  }

  nav ul a {
    color: #fff;
  }

  header {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    align-items: center;
    position: relative;
    z-index: 1;
    top: 5%;
  }

  header .logo {
    margin: auto;
  }

  header .header-links {
    margin: auto;
  }

  header .header-links a {
    margin-left: 2rem;
    color: var(--dark);
    font-size: 16px;
    font-family: var(--font-lato);
    transition: all;
    transition-duration: 500ms;
  }

  header .header-links a:hover {
    color: var(--orange);
  }

  #nav-button {
    border: var(--orange) solid 3px;
    color: var(--orange);
    padding: 6px;
    font-size: 16px;
    background-color: #fff;
  }

  .title {
    background-image: url(images/aboutwp.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .title-container {
    padding: 5rem 7rem;
    padding-bottom: 54px;
    background-color: rgba(255, 255, 255, 0.9);
    height: 100vh;
    margin: auto;
    z-index: 0;
  }

  .title-details {
    align-items: center;
    position: absolute;
    top: 63%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .title h4 {
    display: block;
    color: var(--orange);
    font-family: var(--font-lato);
    font-size: 20px;
    margin-bottom: 1rem;
  }

  .title .title-details h1 {
    color: var(--orange);
    text-transform: uppercase;
    max-width: 80%;
    margin: auto;
    font-family: var(--font-coco);
    font-size: 35px;
    line-height: 35px;
    text-align: center;
  }

  .gradient {
    background-image: url(images/gradientpic.png);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: block;
  }

  .title .event-description {
    border: solid #fff 3px;
    padding: 4px;
    margin-top: 2rem;
    max-width: 70%;
    text-align: center;
  }

  .logo-info p {
    font-size: 20px;
  }

  .past-events p {
    font-size: 20px;
  }

  .past-videos p {
    font-family: var(--font-lato);
    font-size: 20px;
    color: white;
    text-align: center;
    margin: 1rem;
  }

  .title .event-description p {
    color: var(--dark);
    font-family: var(--font-lato);
    margin: auto;
  }

  .title .event-time {
    margin-top: 2rem;
    text-align: center;
  }

  .title .event-time h2 {
    color: var(--dark);
    text-transform: uppercase;
    margin-top: 20px;
    font-family: var(--font-coco);
    font-size: 30px;
    line-height: 35px;
  }

  .title .event-time p {
    color: var(--dark);
    font-family: var(--font-lato);
    font-size: 20px;
  }

  .logo-info {
    width: 100%;
    margin: auto;
    border: solid var(--dark) 0.1px;
  }

  .logo-info .logo-head {
    width: 50%;
    margin: auto;
  }

  .logo-img {
    width: 30%;
    margin: auto;
    padding: 1rem;
  }

  .logo-info h4 {
    font-size: 24px;
  }

  .past-events h5 {
    font-size: 24px;
  }

  .past-videos {
    margin: auto;
    display: flex;
    justify-content: center;
  }

  .past-videos h4 {
    text-align: center;
    font-family: var(--font-lato);
    color: #fff;
    font-size: 28px;
    margin-top: 30%;
  }

  .video-one,
  .video-two {
    margin-right: 2rem;
    position: relative;
  }

  iframe {
    width: fit-content;
  }

  .overlay {
    background-color: rgba(255, 104, 87, 0.6);
    position: absolute;
    width: fit-content;
    height: 315px;
  }

  .footer2 {
    padding: 10px;
    font-family: var(--font-lato);
    color: white;
    font-size: 18px;
    justify-content: center;
    background-color: #3d3d3d;
  }

  .footer2 .footer-logo {
    margin-right: 14rem;
    margin-left: 14rem;
  }

  .footer-description {
    margin: 1rem 0;
    font-size: 14px;
  }

  #show-more {
    display: none;
  }
}
